# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Device Support
DeviceSupport/

# User data
*.xcuserstate

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
.DS_Store
*.moved-aside
*.xcuserdatad
.idea/
*.swiftsnapshot

# Firebase
GoogleService-Info.plist


